<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DGT_IS.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DGT_IS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DGT_IS.Properties.Settings.DGTdbConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DGTdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DGT_IS.Settings.DGTdbConnectionString" connectionString="Data Source=DESKTOP-JKSAFGG;Initial Catalog=DGTdb;Integrated Security=True;Encrypt=False;User Instance=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <DGT_IS.Settings>
            <setting name="conductor_id" serializeAs="String">
                <value>conductor_id</value>
            </setting>
        </DGT_IS.Settings>
        <DGT_IS.Properties.Settings>
            <setting name="conductor_id" serializeAs="String">
                <value>conductor_id</value>
            </setting>
        </DGT_IS.Properties.Settings>
    </userSettings>
</configuration>