################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DGT_IS/bin
/DGT_IS/obj
/.vs
