USE [master]
GO
/****** Object:  Database [DGTdb]    Script Date: 12/02/2019 17:10:37 ******/
CREATE DATABASE [DGTdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DGTdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DGTdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DGTdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DGTdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DGTdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DGTdb]
GO
/****** Object:  Table [dbo].[conductor]    Script Date: 12/02/2019 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conductor](
	[conductor_id] [int] IDENTITY(1,1) NOT NULL,
	[dni] [nvarchar](10) NOT NULL,
	[nombre] [nvarchar](30) NOT NULL,
	[apellidos] [nvarchar](30) NOT NULL,
	[puntos] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[conductor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[infraccion]    Script Date: 12/02/2019 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[infraccion](
	[infraccion_id] [int] IDENTITY(1,1) NOT NULL,
	[identificador] [nvarchar](10) NOT NULL,
	[descripcion] [nvarchar](250) NOT NULL,
	[puntos_descuenta] [tinyint] NOT NULL,
 CONSTRAINT [PK_infraccion] PRIMARY KEY CLUSTERED 
(
	[infraccion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[identificador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[infraccion_vehiculo]    Script Date: 12/02/2019 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[infraccion_vehiculo](
	[infraccion_vehiculo_id] [int] IDENTITY(1,1) NOT NULL,
	[infraccion_id] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[conductor_id] [int] NOT NULL,
	[vehiculo_id] [int] NOT NULL,
 CONSTRAINT [PK_infraccion_vehiculo] PRIMARY KEY CLUSTERED 
(
	[infraccion_vehiculo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehiculo]    Script Date: 12/02/2019 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehiculo](
	[vehiculo_id] [int] IDENTITY(1,1) NOT NULL,
	[matricula] [nvarchar](15) NOT NULL,
	[marca] [nvarchar](25) NOT NULL,
	[modelo] [nvarchar](25) NOT NULL,
	[conductor_id] [int] NOT NULL,
 CONSTRAINT [PK_vehiculo] PRIMARY KEY CLUSTERED 
(
	[vehiculo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehiculo_conductor]    Script Date: 12/02/2019 17:10:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehiculo_conductor](
	[vehiculo_id] [int] NOT NULL,
	[conductor_id] [int] NOT NULL,
 CONSTRAINT [PK_vehiculo_conductor] PRIMARY KEY CLUSTERED 
(
	[vehiculo_id] ASC,
	[conductor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[infraccion_vehiculo]  WITH CHECK ADD  CONSTRAINT [FK_infraccion_vehiculo_conductor] FOREIGN KEY([conductor_id])
REFERENCES [dbo].[conductor] ([conductor_id])
GO
ALTER TABLE [dbo].[infraccion_vehiculo] CHECK CONSTRAINT [FK_infraccion_vehiculo_conductor]
GO
ALTER TABLE [dbo].[infraccion_vehiculo]  WITH CHECK ADD  CONSTRAINT [FK_infraccion_vehiculo_infraccion] FOREIGN KEY([infraccion_id])
REFERENCES [dbo].[infraccion] ([infraccion_id])
GO
ALTER TABLE [dbo].[infraccion_vehiculo] CHECK CONSTRAINT [FK_infraccion_vehiculo_infraccion]
GO
ALTER TABLE [dbo].[infraccion_vehiculo]  WITH CHECK ADD  CONSTRAINT [FK_infraccion_vehiculo_vehiculo] FOREIGN KEY([vehiculo_id])
REFERENCES [dbo].[vehiculo] ([vehiculo_id])
GO
ALTER TABLE [dbo].[infraccion_vehiculo] CHECK CONSTRAINT [FK_infraccion_vehiculo_vehiculo]
GO
ALTER TABLE [dbo].[vehiculo]  WITH CHECK ADD  CONSTRAINT [FK_vehiculo_conductor] FOREIGN KEY([conductor_id])
REFERENCES [dbo].[conductor] ([conductor_id])
GO
ALTER TABLE [dbo].[vehiculo] CHECK CONSTRAINT [FK_vehiculo_conductor]
GO
ALTER TABLE [dbo].[vehiculo_conductor]  WITH CHECK ADD  CONSTRAINT [FK_vehiculo_conductor_conductor] FOREIGN KEY([conductor_id])
REFERENCES [dbo].[conductor] ([conductor_id])
GO
ALTER TABLE [dbo].[vehiculo_conductor] CHECK CONSTRAINT [FK_vehiculo_conductor_conductor]
GO
ALTER TABLE [dbo].[vehiculo_conductor]  WITH CHECK ADD  CONSTRAINT [FK_vehiculo_conductor_vehiculo] FOREIGN KEY([vehiculo_id])
REFERENCES [dbo].[vehiculo] ([vehiculo_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[vehiculo_conductor] CHECK CONSTRAINT [FK_vehiculo_conductor_vehiculo]
GO
USE [master]
GO
